html, body {
    height: 100%; /* اطمینان از اینکه ارتفاع کل صفحه 100% است */
    margin: 0; /* حذف مارجین پیش‌فرض */
}

/* .App {
    height: 100vh; 
    background-color: rgb(29, 37, 50); 
    color: white;
} */

.App {
    min-width: 1130px; /* $$$$$$ حداقل عرض برای صفحه */
    width: 100%; /* تنظیم عرض به 100% برای ریسپانسیو بودن */
    overflow-x: hidden; /* مخفی کردن هرگونه نوار اسکرول افقی */
    background-color: rgb(29, 37, 50); 
    color: white;
}

/*----------------------------------------------------------------*/



