html, body {
    height: 100%; /* اطمینان از اینکه ارتفاع کل صفحه 100% است */
    margin: 0; /* حذف مارجین پیش‌فرض */
}


/* .App {
    min-width: 1130px; 
    width: 100%; 
    overflow-x: hidden; 
    background-color: rgb(29, 37, 50); 
    color: white;
} */

/* کانتینر اصلی */
.App {
    min-width: 1130px; /* حداقل عرض برای صفحه */
    width: 100%; /* تنظیم عرض به 100% برای ریسپانسیو بودن */
    overflow-x: hidden;
    background-color: rgb(29, 37, 50);
    color: white;
    transform-origin: top left; /* نقطه شروع مقیاس‌دهی از بالا چپ */
}

/* تنظیم مقیاس برای عرض کمتر از 1130 پیکسل */
@media (max-width: 1130px) {
    .App {
        transform: scale(0.9); /* تنظیم مقیاس */
        width: 1130px; /* ثابت کردن عرض */
    }
}

@media (max-width: 1024px) {
    .App {
        transform: scale(0.8); /* تنظیم مقیاس بیشتر */
        width: 1130px; /* ثابت کردن عرض */
    }
}

@media (max-width: 768px) {
    .App {
        transform: scale(0.7); /* تنظیم مقیاس بیشتر */
        width: 1130px; /* ثابت کردن عرض */
    }
}


/*----------------------------------------------------------------*/



